@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Avenir.woff") format("woff"),
    url("../fonts/Avenir.ttf") format("truetype"),
    url("../fonts/Avenir.svg#Avenir") format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #151515;
  color: #fff;
  min-height: 200vh;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.25rem;
}

li {
  font-size: 1.1rem;
}

p {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
p,
li {
  text-align: center;
  font-family: "Avenir", Helvetica, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 5rem;
  transition: all 0.5s;
  z-index: 1;
}

header.nav {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 1rem 6rem;
}

header.nav .logo,
header.nav li a {
  color: #fff;
}

header .logo,
header li a {
  color: #151515;
}

.logo {
  color: #151515;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}

.nav-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list li {
  position: relative;
  list-style: none;
}

.nav-list li a {
  color: #151515;
  position: relative;
  padding-left: 6rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}
.nav-list li a:hover {
  color: #a1a1a1;
}

.lorem,
.ipsum,
.dolor,
.sit,
.amet {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 82vh;
  padding: 10rem 16vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
}

.lorem {
  background-color: #e4c7ff;
  color: #151515;
}

.dolor {
  background-color: #c7eeff;
  color: #151515;
}
.amet {
  background-color: #ffbdbd;
  color: #151515;
}

.divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.developers {
  padding: 0 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
}

.businesses {
  padding: 0 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
}

h3 {
  padding-bottom: 0.5rem;
}

button {
  background-color: #987373;
  color: #fff;
  opacity: 0.6;
  font-size: 1rem;
  font-family: "Avenir", Helvetica, sans-serif;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  transition: all 0.25s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.03);
  opacity: 0.75;
}

button:active {
  transform: scale(1);
}

.particles {
  height: 15rem;
  width: 35vw;
  margin: 0 2rem;
  overflow: hidden;
}

/*shapedivider.app*/
/*haikei.app*/
.spacer {
  aspect-ratio: 960/250;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.waves1 {
  background-image: url("/waves1.svg");
}

.waves2 {
  background-image: url("/waves2.svg");
}

.waves3 {
  background-image: url("/waves3.svg");
}

.waves4 {
  background-image: url("/waves4.svg");
}

/*queries*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
