@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  /* font-family: 'Noto Sans', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */

  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #151515;
  color: #fff;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 0.8rem;
}

li {
  font-size: 1.1rem;
}

p {
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: "Avenir", Helvetica, sans-serif;
  /* font-family: 'Noto Sans', sans-serif; */
}

@media only screen and (max-width: 992px) {
  .nav-list li a {
    padding-left: 4.2rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1rem;
  }
  li {
    font-size: 1rem;
  }

  header {
    padding: 1.3rem 3.5rem;
  }

  header.nav {
    padding: 1rem 3.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1rem;
  }
  li {
    font-size: 1rem;
  }

  header {
    padding: 1.2rem 3.5rem;
  }

  header.nav {
    padding: 1.2rem 3.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav-list {
    display: none;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  li {
    font-size: 1rem;
  }

  header {
    padding: 1rem 2rem;
  }

  header.nav {
    padding: 1rem 2rem;
  }
}