@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */

  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #151515;
  color: #fff;
}

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 0.8rem;
}

li {
  font-size: 1.1rem;
}

p {
  font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: "Avenir", Helvetica, sans-serif;
  /* font-family: 'Poppings', sans-serif; */
}
