html {
  scroll-behavior: smooth;
  color: #fff;
}

body {
  background-color: #0f0f0f;
}

h1 {
  font-size: 8rem;
  margin: 0;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
}

section {
  display: flex;
  flex-direction: column;
  margin: 1rem 3rem;
}

div.button {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0c0032;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
}

li {
  float: left;
}

li a,
.button {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 15px;
}

li a:hover,
.button {
  background-color: blue;
}

.home-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  position: absolute;
  z-index: 2;
}

#logo-placeholder {
  position: relative;
  background-color: #0c0032;
  width: 75%;
  z-index: 1;
  height: 20rem;
}

#our-mission {
  .mission-container {
    width: 50%;
  }
  h2,
  p {
    margin: 0;
  }
  display: flex;
  flex-direction: row;
}

#img-placeholder {
  background-color: #0c0032;
  width: 25%;
}

#contact-us {
  h2 {
    margin: 0;
  }
  display: flex;
  text-align: center;
}
