html {
  scroll-behavior: smooth;
  color: #fff;
}

body {
  background-color: #0f0f0f;
}

h1 {
  font-size: 5rem;
  margin: 0;
  color: #240090;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 3rem;
}

div.button {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0c0032;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
}

li {
  float: left;
}

li a,
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-align: center;
  margin: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

li a:hover,
.button {
  border-bottom: solid 3px #240090;
}

.circle {
  background-color: #0c0032;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  margin: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-20%, 90%);
          transform: translate(-20%, 90%);
}

.learn-btn {
  background-color: #240090;
  border-radius: 0.4rem;
  color: white;
  border: none;
}

#logo-placeholder {
  position: relative;
  width: 75%;
  z-index: 1;
  height: 20rem;
}

#our-mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#our-mission .mission-container {
  width: 50%;
}

#our-mission h2,
#our-mission p {
  margin: 0;
}

#img-placeholder {
  background-color: #0c0032;
  width: 25%;
}

#contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

#contact-us h2 {
  margin: 0;
}

#footer {
  background-color: #3a3b3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
  padding: 0;
  border: 0;
}
/*# sourceMappingURL=main.css.map */