html {
  scroll-behavior: smooth;
}

body {
  background-color: #0c0032;
}


section {
  display: flex;
  flex-direction: row;
  height: 5rem;
}

 section h1 {
    color: #fff;
}


div.button {  
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  
}

	
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0f0f0f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
}

li {
    float: left;
}

li a, .button {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:1.2rem;
 
}

li a:hover, .button {
    background-color: blue;
}
