section{
    background-color: #3A3B3C;
    display: flex;
    flex-direction: row;
    height: 5rem;
}

.footer-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: space-around;
}

.content{
    cursor: pointer;
}


